/* PHASE 1: Header */

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

header {
  background-color: #f00;
  color: #fff;
}
.header__container {
  max-width: 900px;
  margin: 0 auto;
  border-right: 1px solid #ccc;
}
.header__logo {
  float: left;
  font-weight: 700;
  font-size: 16px;
  padding: 12px 20px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.header__nav {
  float: right;
}
.header__nav-list li {
  float: left;
  display: block;
  border-left: 1px solid #ccc;
}
.header__nav-list li:last-of-type {
  border-right: 1px solid #ccc;
}

.header__nav-list li a {
  padding: 12px 20px;
  display: inline-block;
}

.header__nav-list li a:hover {
  background-color: #000;
}